body {
    background-color: #b72c7b;
    background-image: linear-gradient(225deg, #a72a71 0%, #5b3a79 50%, #1e5883 100%);    
    background-repeat: no-repeat;
    aspect-ratio: 16 / 9;
    color: white;
    overflow-y: hidden;
}
@keyframes changebg {
    0% {
        background-color: white;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: white;
    }
}
@keyframes scaleanim {
    0% {
        transform: scale(1);
        transform: rotate(0deg);
    }
    50% {
        transform: scale(1.2);
        transform: rotate(360deg);
    }
    100% {
        transform: scale(1);
        transform: rotate(0deg);
    }
}
h1 {
    text-align: center;
}
.invoke {
    width: 200px;
    height: 40px;
    font-size: 30px;
    padding: 0px 10px;
    transition: .3s all;
    background-color: white;
}
#div2 {
    position: relative;
}
.ball {
    display: none;
}
.time {
    position: absolute;
    top: 50px;
    right: 20px;
    font-size: 25px;
}
.main {
    margin-top: 200px;
    width: 100%;
    display: grid;
    place-items: center;
}
.main button {
    width: 200px;
    height: 30px;
    margin: 20px;
}
.main img {
    margin: 10px;
    border-radius: 50px;
}
#div2 {
    display: flex;
}
.timer {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 25px;
}
.menu {
    position: fixed;
    margin-top: 200px;
    width: 1200px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.364);
    border-radius: 20px;
    display: none;
    overflow-y: auto;
}
.guidebut {
    position: absolute;
    left: 10px;
    top: 10px;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.388);
    color: white;
    transition: .3s all;
}
.guidebut:hover {
    background-color: black;
}
.menu h2 {
    text-align: center;
}
.spellguide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
}
.spellbox {
    display: flex;
    flex-direction: row;
    width: fit-content;
    padding: 10px;
    width: 300px;
    margin: auto;
    transition: .3s all;
}
.spellbox:hover {
    background-color: rgba(0, 0, 0, 0.466);
}
.spellbox p {
    height: fit-content;
    vertical-align: center;
    margin: auto 0px auto 0px;
    font-size: 20px;
}